body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
 list-style: none;
 text-align: left;

}

.wrapper{
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  border: solid 1px;
  border-color: rgb(26, 24, 21);
}

.center{
  text-align: center;
  vertical-align: middle;
  align-self: center;
  margin: auto;
}

.color_cube{
  width: 100px;
  height: 100px;
  display: inline-flex;
  margin: 2px;
}
