body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.country-wrapper{
  background: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  margin: 1rem 0 3rem;
  padding: 1rem;
}

.country {
    max-width: 20rem;
    min-width: 20rem;
    text-align: center;
    margin: 0.5rem;
    padding: 2rem;
    border-radius: 0.2rem;
    background: #fff;
}

.country-flag{
  height: 12rem;
  width: 20rem;
  text-align: center;
  margin: auto;
}

.country-flag img {
  display: block;
  margin: auto;
  max-width: 75%;
  max-height: 75%;
  min-width: 75%;
  min-height: 75%;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.6rem 0.2rem #f1e1e1;
}